.container {
  display: flex;
  justify-content: space-evenly;
  align-items: ;
  width: 33vw;
  border-radius: 16px;
}
.container-figure {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 16px;
  border: solid 1px;
}
.container-figure p {
  width: 29vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.container-figure-img {
  width: 30vw;
  height: 40vh;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.button-cart {
  cursor: pointer;
  border-radius: 16px;
  width: 16vw;
  height: 3vh;
  border: none;
  background-color: #fff;
  margin-bottom: 10px;
}
.buttons-quant {
  width: 100%;
  height: 100%;
  border: solid;
  display: flex;
  align-items: center;
  text-align: center;
}
.buttons-quant p {
  width: 12vw;
}
.buttons-quant img {
  cursor: pointer;
}
