@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

:root {
  --color-primary-100: #fff;
  --color-secundary-200: #05c7f2;
  --color-secundary-500: #0d6073;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #e1e1e1;
  color: #1e1e1e;
}
